
{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/manage.css') }}">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/gestor.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <div class="container general">
    <ul class="list-group">

      <li class="list-group-item list-head" style="border-radius:0px; height:70px;">
        <div class="row">
          <div class="col-md-2">Eventos</div>

          <div class="col-md-7">
            <div id="input" style="display:none;">
              <div class="form-group">
                <input type="text"  id="date" name="date" placeholder="Desde" style="width:120px;"/>&nbsp; / &nbsp;
                <input type="text"  id="date" name="date" placeholder="hasta" style="width:120px;"/>&nbsp;&nbsp;&nbsp;
                <input type="text"  placeholder="Nombre evento" style="width:200px;">
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <button id="eventFilter" style="color:white; margin-left:40px" type="button" class="btn btn-outline-secondary btn-sm">Filtrar</button>
            <button style="color:white;" type="button" class="btn btn-outline-secondary btn-sm">Nuevo evento</button>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row" style="color:grey;">
          <div class="col-md-2 text-center"><b>Id</b></div>
          <div class="col-md-2 text-center"><b>Nombre</b></div>
          <div class="col-md-8"></div>
        </div>
      </li>

      <li class="list-group-item text-center">
        <div class="row" >
          <div class="col-md-2 text-center">97878</div>
          <div class="col-md-2 text-center">Evento 1</div>
          <div class="col-md-8" style="opacity:0.9;">
            <button type="button" class="btn btn-warning btn-sm" style="color:white;">Editar</button>
            <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
            <button type="button" class="btn btn-success btn-sm">Publicar</button>
          </div>
        </div>
      </li>

    </ul>

    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">&raquo;</a>
    </div>

  </div>
{% endblock %}
