<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LogIn</title>
    <link href="{{ asset('css/master.css')}}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="contenido">

    <div class="w3-bar w3-black">
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'login')" id="defaultOpen">Log In</button>
        <button class="tablinks" onclick="openCity(event, 'signup')">Sign Up</button>
      </div>
    </div>

    <div id="login" class="tabcontent">
      <form>
        <p id="bienvenido">Bienvenido de nuevo</p>
        <div class="input-group">
          <input style="padding:10px; font-size:13pt;" class="form-control" type="text" name="email" placeholder="Email">
          <span style="background-color:white;margin-right:10%" class="input-group-addon"><i class="fas fa-at"></i></span>
        </div>
        <div class="input-group">
          <input style="padding:10px; font-size:13pt;" class="form-control" type="password" name="Contraseña" placeholder="Contraseña" value="">
          <span style="background-color:white;" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        </div>
        <a id="recordar" href="recordarcontrasena">¿Has olvidado tu contraseña?</a>
        <br><br>
        <input type="submit" name="Enviar" class="enviar" value="Entrar">
      </form>
    </div>
    <div id="signup" class="tabcontent">
        <form>
          <p id="bienvenido">Bienvenido a Acavall</p>
          <div class="input-group">
            <input style="padding:10px; font-size:13pt;" class="form-control" type="text" name="nombre" placeholder="Nombre">
            <span style="background-color:white;" class="input-group-addon"><i class="far fa-user"></i></span>
          </div>
          <div class="input-group">
            <input style="padding:10px; font-size:13pt;" class="form-control" type="text" name="apellidos" placeholder="Apellidos">
            <span style="background-color:white;" class="input-group-addon"><i class="far fa-user"></i></span>
          </div>
          <div class="input-group">
            <input style="padding:10px; font-size:13pt;" class="form-control" type="text" name="email" placeholder="Email">
            <span style="background-color:white;" class="input-group-addon"><i class="fas fa-at"></i></span>
          </div>
          <div class="input-group">
            <input style="padding:10px; font-size:13pt;" class="form-control" type="text" name="contraseña" placeholder="Contraseña">
            <span style="background-color:white;" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          </div>
          <div class="input-group">
            <input style="padding:10px; font-size:13pt;" class="form-control" type="text" name="telefono" placeholder="Telefono">
            <span style="background-color:white;" class="input-group-addon"><i class="fas fa-phone"></i></span>
          </div>
          <br>
          <input type="submit" value="Registrarse" class="enviar">
        </form>
    </div>
    <script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
  </body>
</html>
