<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recordar Contraseña</title>
    <link href="{{ asset('css/master.css')}}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="contenido">
      <div class="tab">
        <div class="verde">
          <p class="recordar">Recordar Contraseña</p>
        </div>
      </div>
      <br><br><br>
      <p class="texto">Introduce tu email y te enviaremos un correo para actualizar tu contraseña</p>
      <br>
      <div class="input-group">
        <input style="padding:10px; font-size:13pt;" class="form-control" type="text" name="email" placeholder="Email">
        <span style="background-color:white;margin-right:10%" class="input-group-addon"><i class="fas fa-at"></i></span>
      </div>
      <br>
      <input type="submit" name="Enviar" class="enviar" value="Enviar">
    </div>
  </body>
</html>
