<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compra de entradas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../js/compra.js"></script>
    <link rel="stylesheet" href="../css/ticket.css">
  </head>
  <body>
    <div class="todo">
      <p>COMPRAR ENTRADAS</p>
        <form id="todo">
          <table id="repetir" class="table" style="width: 80%; background: white; opacity: 0.9;">
            <tr>
              <th class="form-group" scope="col">ENTRADAS</th>
              <th class="form-group" scope="col">CANTIDAD</th>
              <th class="form-group" scope="col">PRECIO</th>
            </tr>
            <tr>
              <td class="form-group"><b>Entrada General</b></td>
              <td class="form-group">
                <select id="numero" onchange="multiplicarInputs()" class="form-control" name="edad">
                  <option value="ninguno" selected disabled> </option>
                  <option value="1" id="1">1</option>
                  <option value="2" id="2">2</option>
                  <option value="3" id="3">3</option>
                  <option value="4" id="4">4</option>
                  <option value="5" id="5">5</option>
                </select>
              </td>
              <td id="preciotexto" class="form-group" style="font-size: 15px; text-align: center;">18€</td>
            </tr>
            <tr>
              <td class="form-group"><b>¿Niño o adulto?</b></td>
              <td class="form-group">
                <select id="inputState" onchange="nuevoCampo()" class="form-control" name="edad">
                  <option value="ninguno" selected disabled> </option>
                  <option value="niño" id="niño">Niño</option>
                  <option value="adulto" id="adulto">Adulto</option>
                </select>
              </td>
              <td class="form-group"> </td>
            </tr>
              <tr id="formniño" style="visibility: collapse">
                <td class="form-group" id="edad1"><b>Edad de los niños</b></td>
                <td class="form-group" id="edad2">
                  <select class="form-control" name="niño">
                    <option value="ninguno" selected disabled></option>
                    <option value="1-3">1-3</option>
                    <option value="4-6">4-6</option>
                    <option value="7-9">7-9</option>
                    <option value="10-12">10-12</option>
                    <option value="13-15">13-15</option>
                    <option value="16-17">16-17</option>
                  </select>
                </td>
                <td class="form-group"> </td>
              </tr>

            <tr>
              <td class="form-group"><b>¿Alguno de los participantes tiene diversidad funcional o discapacidad?</b></td>
              <td class="form-group">
                <select id="inputState" class="form-control" name="discapacidad">
                  <option value="ninguno" selected disabled> </option>
                  <option value="si">Si</option>
                  <option value="no">No</option>
                </select>
              </td>
              <td> </td>
            </tr>
            <tr>
              <td class="form-group"><b>¿Necesita algun tipo de adaptación o apoyo?</b></td>
              <td class="form-group">
                <input type="text" class="form-control" id="inputCity">
              </td>
              <td> </td>
            </tr>
            <tr>
              <td class="form-group"><b>TOTAL</b> impuestos incluidos</td>
              <td class="form-group"> </td>
              <td class="form-group"><b id="precio">19,80€</b></td>
            </tr>
          </table>
          <br><br>


        <br><br>
        <div id="divMultiInputs">
       </div>

       </form>
       <input type="submit" name="enviar" value="Continuar" class="enviar">
    </div>
  </body>
</html>
