body {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.contenido {
  background-color: white;
  width: 30%;
  margin-left: 20%;
  margin-top: 15%;
  border: 2px solid #ccc;
  width: 60%;
}
input {
  width: 85%;
  margin:0;
  padding:0;
}
.enviar {
  margin-left: auto;
  margin-right: auto;
  background-color: #6b6663;
  color: white;
}
