body {
  background: url('../img/FOTOAC22.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.todo {
  overflow-y: auto;
}

.todo p {
  font-weight: bold;
}

td {
  text-align: center;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  table {
      border-collapse: collapse;
      width: 80%;
      background-color: white;
  }

  #total{
    font-size: 25px;
  }

  .enviar {
    width: 80%;
    background-color: #c8c22f;
    color: white;
    padding: 10px 32px;
    font-size: 20px;
    border: none;
  }

  .todo {
    margin-left: 15%;
    margin-top: 5%;
  }

#entrada {
  font-size: 15px;
}
 #precio {
   font-size: 20px;
 }

 .containerTicket {
   margin-top: 100px;
   margin-bottom: 200px;
 }

 .form-row {
   padding: 10px;
 }

 .formHeader {
   padding: 0px;
 }

 .form {
   padding-right: 0; padding-left: 0;
 }

 .deletePadding {
   margin-right: 0px;
   margin-left: 0px;
   background-color: #f8f8f8;
 }

.deletePadding p {
  height: 100%;
  padding-top: 5px;
}

#buyTicket {
  background-color: #c8c22f;
  width: 100%;
  color: white;
}

#buyTicket:hover {
  opacity: 0.6;
  color: white;
}

label {
  font-weight: bold;
}

.totalTitle {
  font-weight: bold;
}

.totalPrice {
  font-size: 20px;
  font-weight: bold;
}
